[submodule "42_libft"]
	path = 42_libft
	url = https://github.com/mike-k-git/42_libft
[submodule "42_ft_printf"]
	path = 42_ft_printf
	url = https://github.com/mike-k-git/42_ft_printf
[submodule "42_get_next_line"]
	path = 42_get_next_line
	url = http://github.com/mike-k-git/42_get_next_line
